# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_tiara_LEFT
	def_bool $(shields_list_contains,tiara_left)

config SHIELD_tiara_RIGHT
	def_bool $(shields_list_contains,tiara_right)
